[submodule "models/perception/prediction/palette"]
	path = models/perception/prediction/palette
	url = https://github.com/cdgyp/Palette-Image-to-Image-Diffusion-Models.git
[submodule "models/Object-Goal-Navigation"]
	path = models/navigation
	url = https://github.com/cdgyp/Object-Goal-Navigation.git
